* {
  margin: 5px;
  padding: 0px;
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c9dddb;
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
  color:rgb(0, 70, 102) 
}
.ro-disclaimer {
  font-size: 0.75rem;
  color:rgb(150, 67, 35);
}
.tax-disclaimer {
  font-size: 0.625rem;
}

footer {
  position: fixed;
  bottom: 5%;
}

.tax-table {
  font-size: 0.625rem;
  margin: 0.625rem;
  border: 1px solid gray;
}

.tax-table td, .tax-table th {
  padding: 0.25rem;
}
